html,
body,
#app {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#nprogress .bar {
	top: 60px;
	background: linear-gradient(90deg, #bd34fe, #ffdb33, #44ccff);
}

.components-row * {
	margin-right: 20px;
}
